{% extends "base.html" %}
{% block title %}Games Page{% endblock %}
{% block contentTitle %}My Games{% endblock %}
{% block content %}

    <div class="d-flex justify-content-md-around align-items-center" style="margin-top:15%">  
        <div class="card align-items-center" style="width: 20rem; border-radius: 10%;">
            <img class="card-img-top" src="../static/helixfall.png" alt="Card image cap" style="width: 100%;">
            <div class="card-block text-center">
                <h3 class="card-title">Helix Fall</h3>
                <p class="card-text">Helix Fall is clone of Helix Jump. Made with Unity and C#.</p>
            </div>
            <p></p>
            <div class="btn btn-primary" >
                <a href="https://play.google.com/store/apps/details?id=com.CopComGames.HelixFall" class="card-link" target="_blank">Display in Google Play</a>
            </div>
            <p></p>
        </div> 

        <div class="card align-items-center" style="width: 20rem; border-radius: 10%;">
            <img class="card-img-top" src="../static/g4n.png" alt="Card image cap" style="width: 99%;">
            <div class="card-block text-center">
                <h3 class="card-title">Guess 4 Numbers</h3>
                <p class="card-text">4 digit number guess game. Made with Unity and C#</p>
            </div>
            <p></p>
            <div class="btn btn-primary" >
                <a href="https://play.google.com/store/apps/details?id=com.copcomgames.guess4numbers" class="card-link" target="_blank">Display in Google Play</a>
            </div>
            <p></p>
        </div> 

        <div class="card align-items-center" style="width: 20rem; border-radius: 10%;">
            <img class="card-img-top" src="../static/colorjump.png" alt="Card image cap" style="width: 100%;">
            <div class="card-block text-center">
                <h3 class="card-title">Color Jump</h3>
                <p class="card-text">Endless jumping ball arcade game. Made with Unity and C#.</p>
            </div>
            <p></p>
            <div class="btn btn-primary" >
                <a href="https://play.google.com/store/apps/details?id=com.copcomgames.colorjump" class="card-link" target="_blank">Display in Google Play</a>
            </div>
            <p></p>
        </div> 

        <div class="card align-items-center" style="width: 20rem; border-radius: 10%;">
            <img class="card-img-top" src="../static/sudoku.png" alt="Card image cap" style="width: 100%;">
            <div class="card-block text-center">
                <h3 class="card-title">Sudoku</h3>
                <p class="card-text">Classic Sudoku game. Made with Unity and C#.</p>
            </div>
            <p></p>
            <div class="btn btn-primary" >
                <a href="https://play.google.com/store/apps/details?id=com.copcomgames.Sudoku" class="card-link" target="_blank">Display in Google Play</a>
            </div>
            <p></p>
        </div> 


    </div>

{% endblock %}